/*Header background Color: #94a2e0
nav color: #eee
text color: #323232
Nav/Footer background: #324bb7
nav background hover: #526bd7
Body: #eee
Link Highlight: #526bd7*/

form {
    padding: 3rem;
    border-radius: 2rem;
    background-color: #ddd;
}

input, textarea {
    width: 100%;
    border-radius: 0.25rem;
    border: none;
}

input[type=submit]{
    height: 3rem;
    color: #eee;
    font-weight: bold;
    background-color: #324bb7;
}

input[type=submit]:hover{
    background-color: #526bd7;
}

input {
    height: 1.5rem;
}