/* #095256;
#087F8C;
#5AAA95;
#86A873;
#BB9F06; */

body {
    font-family: Arial, Helvetica, sans-serif;
    color:#095256
}

a, a.headerlink:hover, a:active, a:visited {
    color: #095256;
    text-decoration: none;
}

header h1{
    margin: 0;
    background-color: #087F8C;
    text-align: left;
}

header h1 a {
    text-decoration: none;
}

header h1 img {
    width: 8%;
}

header nav {
    background-color: #5AAA95;
    padding: 1% 2% 1% 0%;
}

header nav a {
    padding: 1%;
    text-decoration: none;
}

a:hover {
    color: #BB9F06;
    font-weight: bold;
}

main {
    background-color: #86A873;
    margin: 0;
}
h2 {
    text-align: center;
    padding : 2%;
    margin: 0;
}

footer {
    background-color: #5AAA95;
    margin: 0;
}