body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

a {
    color: black;
    text-decoration: none;
}

header h1 {
    text-align: left;
}

header h1 a {
    color: black;
    text-decoration: none;
}

header h1 img {
    width: 8%;
}

header nav {
    background-color: lightblue;
    padding: 1% 2% 1% 0%;
    border-bottom: 1px solid lightgray;
}

header nav a {
    padding: 1%;
    text-decoration: none;
}

a:hover {
    color: gray;
}

a.headerlink:hover {
    color: black;
}

h2 {
    text-align: center;
    padding : 2%;
    margin: 0;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

footer {
    background-color: lightblue;
    color: black;
}