/* #095256; 
#000055;
#087F8C;
#5AAA95;
#86A873;
#BB9F06; */

/* New:
Header background Color: #94a2e0
nav color: #eee
text color: #323232
Nav/Footer background: #324bb7
nav background hover: #526bd7
Body: #eee
Link Highlight: #526bd7
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #323232;
}

a, a:hover {
    color: #323232;
    text-decoration: none;
}

header h1 {
    margin: 0;
    background-color: #94a2e0;
    text-align: center;
    font-size: 5em;
    padding: .25em 0em .25em 0em;
}

header h1 a img {
    width: 64px;
    border: none;
}

header h1 p {
    font-size: 1rem;
}

header nav {
    display: flex;
    background-color: #324bb7;
    justify-content: space-around;
    align-items: center;
}

header nav a {
    color: #eee;
    font-size: 125%;
    font-weight: bold;
    text-decoration: none;

    text-align: center;
    flex: 1 1 auto;
    padding: .75em 0em;
}

header nav a.menulogo, a.hamburgermenu {
    display: none;
}

nav a.navitem:hover {
    color: #eee;
    background-color: #526bd7;
}

nav a.navitem.active {
    background-color:#94a2e0;
}

main {
    background-color: #eee;
    padding: 2%;
    margin: 0;
}


h2 {
    text-align: center;
    padding-top: 1%;
    font-size: 2em;
}

footer {
    background-color: #94a2e0;
    margin: 0;
}

@media screen and (max-width: 550px) {
    header h1 {
        display: none;
    }
    
    header nav.responsive {
        flex-direction: column;
    }

    header nav.responsive a.navitem {
        display: block;
        font-size: 1.5em;
    }

    header nav a.navitem {
        display: none;
    }
    
    header nav a.menulogo {
        display: block;
        text-align: left;
        float: left;
        border: none;
    }

    header nav a.hamburgermenu {
        display: block;
        text-align: right;
        float: left;
        border: none;
    }
}