main div#plancontainer {
    display: flex;
    justify-content: space-around;
}

div#plancontainer div {
    padding: 2em;
    border-radius: 2em;
    text-align: center;
}

div#plancontainer div ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 1em;
}

.purchasebutton {
    background-color: #324bb7;
    color: #ddd;
    border-radius: 2em;
    padding: 1em;
    display: inline-block;
}

.purchasebutton:hover {
    color: #ddd;
    background-color: #526bd7;
}

#basic {
    width: 40%;
    background-color: #ddd;
}

#ultimate {
    background-color: #a4c2ff;
    width: 40%;
    font-size: 125%;
    color: #324bb7;
}


#productcontainer div {
    background-color: #ddd;
    padding: 2em 5%;
    border-radius: 2em;
    margin-bottom: 2em;
    text-align: center;
}

@media screen and (max-width: 850px){
    div#plancontainer {
        flex-direction: column;
    }
    div#plancontainer div {
        margin-bottom: 1em;
    }
    
}